<div>
<%= link_to "Competitors", '/competitors' %>
</div>
<h1> Competitors </h1>
<% @competitors.each do |competitor| %>
  <h2><%= competitor.name%></h2>
  <p>Weight class: <%= competitor.weight%></p>
  <p><%=competitor.won_lost_str%></p>
<%end%>